# Dependencies
node_modules/

# Build outputs
build/
dist/
out/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# System files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
